@import "../../styles/main.scss";

.home-view 
{
    // over-ride bulma styles 
    .button.is-large {
        min-width: 250px;
        padding: 1.3rem 1.5rem;
        font-size: 1rem;
    }

    .button.is-medium {
        font-weight: 500;
        padding: 20px 27px;
        font-size: 16px;
    }

    .box {
        box-shadow: 0 0 1px 0 #a8b9d5, 0 12px 24px -6px #ebf2ff;
    }

    .is-outlined {
        border-width: 2px;
    }

    .button.is-primary {
        border: 2px solid $primary;
        &:hover {
            background-color: #002ca6;
        }
    }

    .button.is-primary.is-outlined {
        &:hover {
            background-color: #f5f8ff;
            color: #002ca6;
            border-color: #002ca6;
        }
    }

    .button.is-secondary.is-outlined {
        color: #030b5d;
        border-color: #030b5d;
    }


    .is-text {
        text-decoration: none;
    }

    .button {
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 600;
    }

    .border-link {
        display: block;
        font-weight: 600;
        color: $primary;
        border-bottom: 2px solid #baccff;
        width: fit-content;
        &:hover {
            color: rgb(0, 44, 166);
        }
        &:after {
            content: " \21E2"
        }
    }

    h1 {
        font-size: 2.35rem;
        line-height: 2.75rem;
        @media screen and (min-width: $tablet) {
            font-size: 40px;
            line-height: 3.5rem;
        }
    }

    h2 {
        font-size: 28px;
        line-height: 1.25;
        @media screen and (min-width: $tablet) {
            font-size: 40px;
        }
    }

    h3 {
        font-size: 2rem;
        line-height: 1.7rem;
    }

    h4 {
        font-size: 1.6rem;
        line-height: 1.5rem;
    }

    h5 {
        font-size: 1.3rem;
        line-height: 30px;
    }

    .section-container {
        max-width: 1450px;
        margin: 0 auto;
        padding: 0px 20px;    
    }

    p, h1, h2, h3, h4, h5 {
        color: #000e35;
    }

    p {
        line-height: 30px;
    }

    .has-default-line-height {
        line-height: 18px !important;
    }

    .has-text-color-subheader {
        color: #4a6592;
    }


    .section-title {
        letter-spacing: 2px;
    }

    .section-header-container {
        margin-bottom: 5rem;
    }

    hr {
        border: 1px solid #E1E3EA;
    }

    .light-background {
        background-color: #f5f8ff;
    }

    .has-text-dark-green {
        color: #00634A;
    }

    .has-text-purple {
        color: #582DA4;
    }

    .has-text-dark-blue {
        color: #030b5d;   
    }

    .center-mobile {
        text-align: center;
        margin: 0 auto;
        @media screen and (min-width: $tablet){
            text-align: initial;
            margin: initial;
        }
    }

    .section {
        padding-top: 30px;
        @media screen and (min-width: $tablet
        ) {
            padding-top: 80px;
        }
    }
}