<nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-align-items-center ml-0">
      <a>
        <img src="https://i.imgur.com/on1vRPX.png"/>
      </a>
      <a role="button" class="navbar-burger has-text-weight-semibold is-hidden-tablet is-flex is-align-items-center" aria-label="menu" aria-expanded="false">
        Menu
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start mx-auto">
        <a class="navbar-item">
          Products 
        </a>
  
        <a class="navbar-item">
          Why SendGrid
        </a>

        <a class="navbar-item">
            Resources
        </a>
        <a class="navbar-item">
            Developers
        </a>
        <a class="navbar-item">
            Pricing
        </a>
        
        </div>
        <div class="navbar-end ml-0">
            <a class="navbar-item">Contact Us</a>
            <a class="navbar-item">Sign In</a>
            <div class="navbar-item">
                <button id="nav-bar-btn" class="button is-primary">
                    Start for free
                </button>
            </div>
          </div>
      </div>

    </div>
  </nav>