<div class="box mb-4">
    <div class="columns">
        <div class="column">
            <p class="has-text-weight-bold">Id</p>
            <p>{{memberValue.id}}</p>
        </div>
        <div class="column">
            <p class="has-text-weight-bold">Name</p>
            <p>{{memberValue.name}}</p>
        </div>
        <div class="column">
            <p class="has-text-weight-bold">Designation</p>
            <p>{{memberValue.designation}}</p>
        </div>

        <div class="column">
            <button v-on:click="deleteMember" class="button is-danger">Delete</button>
        </div>
    </div>
</div>