<div class="container pt-6">
    <h1 class="title">Create Member</h1>
    <form class="box">
        <div class="field-body is-horizontal field">
            <div class="field">
                <label class="label" for="name">Name</label>
                <div class="control">

                    <input v-model="name" class="input" type="text" id="name" name="name">
                </div>
            </div>

            <div class="field">
                <label class="label" for="designation">Designation:</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select v-model="designation" id="designation" name="designation">
                            <option value="" selected disabled>select</option>
                            <option value="Captain">Captain</option>
                            <option value="First Officer">First Officer</option>
                            <option value="Attendant">Attendant</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="field mt-2">
            <div class="control">
                <p v-show="hasErrors" class="help is-danger mb-2">Some fields are missing</p>
                <button class="button is-primary" v-on:click.prevent="save">Create Member</button>
            </div>
        </div>
    </form>
</div>