<section class="marketing-resource-section">
    <div class="section-container">
        <div class="has-text-centered section-header-container">
            <p class="section-title has-text-color-subheader">EMAIL MARKETING RESOURCES</p>
            <h2 class="has-text-weight-bold mt-4">
                Level up your email program with insights from <br class="is-hidden-mobile" />
                our experts
            </h2>
        </div>
        <div class="resource-columns columns is-centered">
            <div class="column is-6">
                <div class="resource-card box">
                    <img class="resource-card__banner" src="https://d15tnd3q55f8nl.cloudfront.net/static/979f7725df3e6c37cb4cec8a44c2534c/2e73f/2022-deliberability-guide.png" />
                    <div class="is-flex is-align-items-center resource-card__title resource-card__block mt-5">
                        <img class="image is-24x24" src="https://i.imgur.com/AQHKVsU.png" />
                        <p class="has-text-primary ml-2">GUIDE</p>
                    </div>
                    <div class="mt-6 resource-card__content resource-card__block">
                        <h5>2022 Email Deliverability Guide</h5>
                        <p class="mt-3 mb-4 has-text-weight-light">Find out what affects email deliverability and how to improve it to ensure messages reach subscribers’ inboxes.</p>
                        <a class="border-link mt-auto">Read the Guide</a>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="resource-card box">
                    <img class="resource-card__banner" src="https://d15tnd3q55f8nl.cloudfront.net/static/0f6c01851670c134129fc726b1bc6b9b/2e73f/2022-global-messaging-report.png" />
                    <div class="is-flex is-align-items-center resource-card__title resource-card__block mt-5">
                        <img class="image is-24x24" src="https://i.imgur.com/AQHKVsU.png" />
                        <p class="has-text-primary ml-2">REPORT</p>
                    </div>
                    <div class="mt-6 resource-card__content resource-card__block">
                        <h5>2022 Global Messaging Engagement Report</h5>
                        <p class="mt-3 mb-4 has-text-weight-light">Discover consumers’ evolving communication preferences and learn how to adapt your email and SMS strategies.</p>
                        <a class="border-link mt-auto">Read the Report</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="resource-columns columns mt-5">
            <div class="column">
                <div class="resource-card box">
                    <img class="resource-card__banner" src="https://d15tnd3q55f8nl.cloudfront.net/static/36fad03e6c499d619fd807d31ee300ba/2e73f/holiday-webinar.png" />
                    <div class="is-flex is-align-items-center is-justify-content-space-between resource-card__title resource-card__block mt-5">
                        <div class="is-flex is-align-items-center">
                            <img class="image is-24x24" src="https://i.imgur.com/BUezaWL.png" />
                            <p class="ml-2 has-text-purple">WEBINAR</p>
                        </div>
                        <div>
                            <p class="is-italic has-text-weight-light">60 min video</p>
                        </div>
                    </div>
                    <div class="mt-6 resource-card__content resource-card__block">
                        <h5>Holiday Email: What to Know Before You Send</h5>
                        <p class="mt-3 mb-4 has-text-weight-light">Learn from our team of email experts as they walk you through important considerations for your holiday email campaign.</p>
                        <a class="border-link mt-auto">Watch the webinar</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="resource-card box">
                    <img class="resource-card__banner" src="https://d15tnd3q55f8nl.cloudfront.net/static/2858594a1fcac8600726af859c736d92/2e73f/getting-started-webinar.png" />
                    <div class="is-flex is-align-items-center is-justify-content-space-between resource-card__title resource-card__block mt-5">
                        <div class="is-flex is-align-items-center">
                            <img class="image is-24x24" src="https://i.imgur.com/BUezaWL.png" />
                            <p class="ml-2 has-text-purple">WEBINAR</p>
                        </div>
                        <div>
                            <p class="is-italic has-text-weight-light">47 min video</p>
                        </div>
                    </div>
                    <div class="mt-6 resource-card__content resource-card__block">
                        <h5>Get Started Sending Emails With Twilio SendGrid Webinar</h5>
                        <p class="mt-3 mb-4 has-text-weight-light">Learn the basics of using SendGrid to send and receive emails programmatically. Developers of all languages are welcome!</p>
                        <a class="border-link mt-auto">Watch the webinar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="send-section has-text-centered section-header-container mb-5">
                <h2 class="has-text-weight-bold is-size-2">
                    Ready to start sending?
                </h2>            
            </div>
            <div class="cta-columns columns is-centered">
                <div class="column is-4 has-text-centered">
                    <button class="button is-primary is-large">Sign Up</button>
                </div>
                <div class="column is-4 has-text-centered">
                    <button class="button is-primary is-outlined is-large">Talk to Sales</button>
                </div>
                <div class="column is-4 has-text-centered">
                    <button class="button is-primary is-outlined is-large">Pricing</button>
                </div>
            </div>
        </div>
    </div>
</section>